body{
    background: rgb(24, 24, 24);
}

.name{
    color: white;
    font-family: 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: -66px;
}


.board-row {
    display: flex;
    justify-content: center;
  }

.square{
    background: rgb(24, 24, 24);
    border: 2px solid;
    border-color: rgb(68, 67, 67);
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

.keyboardRow{
    display: flex;
    justify-content: center;
}

.keyboard{
    margin-top: 10px;
}

.key{
    background: rgb(141, 139, 139);
    width: 50px;
    height: 60px;
    border: solid;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.key:hover{
    background: rgb(100, 99, 99);
}

.keyEnter{
    background: rgb(141, 139, 139);
    width: 50px;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    border: solid;
    border-radius: 7px;
    color: white;
    border-color: black;
    width: 70px;
}

.keyEnter:hover{
    background: rgb(100, 99, 99);
    cursor: pointer;
}


.win{
    color: white;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    margin-bottom: -10px;
}

.Toaster{
    color: #000000;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 140px;
    height: 40px;
    margin-bottom: -94px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 13px;
    position: relative;
    opacity: 0;
}
  
